extends _base

block vars
  -
    var pageId = "about",
        pageClass = "_inner"

block content
  +b.hero-inner
    .container
      h1 О сервисе MedIQ

  
  .container
    +b.content
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,scetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus  elit. Aenean euiselit. Aenean eelit. Aenean emod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus moled rhoncus sapien nunc eget odio.
      p Consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,scetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus  elit. Aenean euiselit. Aenean eelit. Aenean emod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus moled rhoncus sapien nunc eget odio.

  +b.vantage
    .container
      +e.list
        +e.item
          +e.data
            +b.I.icon._clinic
            +e.H3.title Без посредников
            p Все официальные взаимоотношения оформляются напрямую с клиниками Израиля, а расчеты проводятся по утвержденным клиниками ценам (без комиссий и наценок)
        +e.item
          +e.data
            +b.I.icon._family
            +e.H3.title 8 лет успешной работы
            p Мы помогаем пациентам из России и стран бывшего СССР получать качественное лечение в израильских клиниках без посредников уже более 8 лет. Есть опыт работы с некоммерческими фондами и организациями
        +e.item
          +e.data
            +b.I.icon._lang
            +e.H3.title Поддержка на русском языке
            p Любой пациет может обратиться за консультацией на русском языке по телефону 
              a(href="#") 8 (800) 333-25-25
              |. Мы работаем 24/7
        +e.item
          +e.data
            +b.I.icon._calendar
            +e.H3.title Помощь пациентам
            p Мы оказываем помощь пациентам в поиске жилья и размещении в Израиле, предоставляем переводчика (при необходимости) и решаем все бытовые вопросы






