extends _base

block vars
  -
    var pageId = "support",
        pageClass = "_inner"

block content
  .container
    +b.support
      +e.panel(style="background-color: #c6e5f6;")
        +e.H2.title Русскоязычная поддержка
          br
          a(href="tel:88002003050") 8 (800) 200-30-50
        p Круглосуточный колл-центр для пациентов, проходящих лечение в Израиле. Помогаем решить практически любые организационные и бытовые вопросы, а также упрощаем коммуникацию с врачами и клиниками Израиля.
        p
          a(href="#") Условия предоставления поддержки
      +e.panel(style="background-color: #c6f6f4;")
        +e.H2.title Перевод и заверение<br>медицинских документов
        p Предоставление профессиональных переводчиков с иврита на русский и обратно. Контроль качества выполнения работ.
        +b.BUTTON.btn._info(type="button") Заявка на перевод
        +e.label Ответим в течение 30 минут в будние дни
      +e.panel(style="background-color: #adfdcb;")
        +e.H2.title Помощь в поиске и аренде жилья
        p Поддержка в поиске, подборе, бронировании и аренде апартаментов и квартир в непосредственной близости от лечебных учреждений Израиля.
        +b.BUTTON.btn._info(type="button") Заявка на подбор жилья
        +e.label Ответим в течение 30 минут в будние дни
      +e.panel(style="background-color: #c6f6f4;")
        +e.H2.title Перевод и заверение<br>медицинских документов
        p Предоставление профессиональных переводчиков с иврита на русский и обратно. Контроль качества выполнения работ.
        +b.BUTTON.btn._info(type="button") Заявка на перевод
        +e.label Ответим в течение 30 минут в будние дни











